body {
	background-color: #F5F5F5;
}

h1 {
	margin-top: -5px;
	text-align: center;
	font-size: 40px;
	font-family: arial;
	font-weight: bold;
	color: #EC583A;
}

#top {
	margin-top: -20px;
	height: 70px;
	width: 680px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	display: inline-block;
	width: 150px;
	height: 40px;
	margin: 0 6px 0 6px;
	border: 2px solid;
	border-radius: 5px;
	line-height: 40px;
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: white;
	text-align: center;

}

#b1 {
	background-color: #93B1C6;
}

#b2 {
	background-color: #C7D0D5;
}

#container {
	height: 800px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	border:1px solid black;
	background-color: white;
	overflow: hidden;

}